{%extends 'base.html'%}

{%block contents%}

<div class="container">
    <br><br>
    <dl class="recommend_box">
        <form action="{%url 'card_result'%}">
            <br>
            <p style="font-family: 'Do Hyeon'; font-size: 20px;">필수</p>
            
            <p class="question" >어떤 카드를 찾으세요?</p>
            <input type="radio" id="check"  name="cate" value="check">
            <label for="check">체크카드</label>
            <br>
            <input type="radio" id="credit" name="cate" value="credit">
            <label for="credit">신용카드</label> 

            <br><br>

            <p class="question">원하는 카드 전월 실적을 선택해주세요.</p>
            <input type="radio" name="price" value="300000">
            <label for="credit_p">30만원</label>
            <input type="radio" name="price" value="500000">
            <label for="credit_p">50만원</label>

            <br><br>

            <p class="question">어떤 혜택을 가장 중요하게 생각하시나요?</p>
            <input type="radio" id="check"  name="category" value="movie">
            <label for="check">영화</label>
            <input type="radio" id="check"  name="category" value="bus">
            <label for="check">교통</label>
            <input type="radio" id="check"  name="category" value="coffee">
            <label for="check">커피</label>
            <input type="radio" id="check"  name="category" value="mart">
            <label for="check">편의점</label>

            <br><br>

            <input type="submit" value="나만의 카드 확인">
            

        </form>
    </dl>
</div>

<style>
    .recommend_box {
        display: block;
        width: 100%;
        margin: 0 0 10px;
        padding: 20px 20px;
        border-radius: 2px;
        background: #fff;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.26);
        box-shadow: 0 0 2px rgba(0,0,0,.26);
    }

    .question{
        font-family: 'Nanum Gothic Coding'; 
        font-size: 25px;
    }
</style>

{%endblock%}